
.filter-bar{
  box-sizing: border-box;

  width: 77%;
  height: 60px;

  margin: 0 auto;
  padding: 0px 20px;

  background-color: white;

  position: absolute;

  top: -35px;

  border-radius: 6px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filters{}

.clear{
  background-color: white;

  border: none;

  cursor: pointer;

  color: hsl(180, 29%, 50%);
  font-family: 'Spartan', sans-serif;
  font-weight: 700;
}
.clear:hover{
  text-decoration: underline;
}
@media(max-width: 720px){
  .filter-bar{
    width: 94%;
  }
}
@media(max-width: 590px){
  .filter-bar{
    width: 94%;
  }
}