
.filter-bar{
  box-sizing: border-box;

  width: 100%;
  min-height: 50px;

  margin: 0 auto;
  padding: 10px 20px;

  background-color: white;

  position: relative;

  top: -60px;

  border-radius: 6px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filters{
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  min-height: 20px;
  height: inherit;
}

.clear{
  height: inherit;

  margin-left: 20px;

  background-color: white;

  border: none;

  cursor: pointer;

  color: hsl(180, 29%, 50%);
  font-family: 'Spartan', sans-serif;
  font-weight: 700;
}
.clear:hover{
  text-decoration: underline;
}
@media(max-width: 720px){
  .filter-bar{
    width: 94%;
    top: -30px;
  }
}
@media(max-width: 590px){
  .filter-bar{
    width: 94%;
  }
}