header{
  width: 100%;
  height: 90px;

  background-image: url('../assets/bg-header-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(180, 29%, 50%);
}
@media(max-width: 600px){
  header{
    height: 150px;
  }
}