@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');
/* font-family: 'Spartan', sans-serif; 500, 700 */

.job{
  width: 100%;
  height: 120px;

  padding: 15px 30px;

  background-color: white;

  border-radius: 5px;

  margin: 20px 0px;

  box-shadow: 0px 15px 10px -15px #111;

  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.info{
  height: 100%;
  width: 400px;

  display: flex;
  flex-direction: row;
  align-items: center;
}
.company-picture{
  border-radius: 50%;
  height: 75px;
  width: 75px;

  /* background-color: red; */
}
.info-second-column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* background-color: black; */

  height: 70%;
  width: 210px;
  margin-right: 20px;
  margin-left: 15px;
}
.linha1{
  display: flex;
}
.company{
  font-size: 11px;
  font-weight: 700;
  color: hsl(180, 29%, 50%);

  margin: 0;
}
.new{
  margin: 0;
  padding: 5px 5px 3px;
  margin-left: 6px;

  font-size: 9px;
  font-weight: 700;
  color: white;

  background-color: hsl(180, 29%, 50%);

  border-radius: 10px;

  position: relative;
  top: -4px;
}
.featured{
  margin: 0;
  padding: 5px 5px 3px;
  margin-left: 6px;

  font-size: 9px;
  font-weight: 700;
  color: white;

  background-color: black;

  border-radius: 10px;

  position: relative;
  top: -4px;
}
.linha2{
  font-size: 14px;
  font-weight: 700;
}
.linha2:hover{
  color: hsl(180, 29%, 50%);
  cursor: pointer;
}
.linha3{
  display: flex;
  
  font-size: 12px;
  font-weight: 500;
  color: grey;
}

.tools{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  height: 100%;
}
.info-topic{
  background-color: hsl(180, 52%, 96%);
  color: hsl(180, 29%, 50%);

  font-family: 'Spartan', sans-serif;
  font-weight: 700;
  font-size: 11px;

  padding: 6px 6px 3px;
  margin: 0px 3px;
  height: fit-content;

  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.info-topic:hover{
  cursor: pointer;
  background-color: hsl(180, 29%, 50%);
  color: white;
}
@media(max-width: 590px){
  .job{
    height: fit-content;
    width: 100%;

    flex-direction: column;

    margin: 60px 0px;
    padding: 15px 25px;
  }
  .info{
    position: relative;
    
    width: 100%;

    margin-top: 20px;
    padding-bottom: 20px;

    border-bottom: 1.5px solid lightgrey;
  }
  .company-picture{
    width: 60px;
    height: 60px;

    position: absolute;
    top: -70px;
  }
  .linha2{
    margin: 12px 0px;
  }
  .tools{
    margin-top: 10px;
  }
  .info-topic{
    margin: 6px;
  }
}