.topic-filtered{
  display: flex;
  
}
.filter-bar-topic{
  font-size: 11px;
  padding: 6px 6px 5px;
  margin: 0;

  background-color: hsl(180, 52%, 96%);
  color: hsl(180, 29%, 50%);
  font-weight: 700;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.close{
  height: inherit;

  background-color: hsl(180, 29%, 50%);

  color: white;

  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.close:hover{
  background-color: black;
  cursor: pointer;
}